<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %>
  <%= f.text_field :username %></div><br />

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />
  <div><%= f.label :password, %> <i></i>
  <%= f.password_field :password, :autocomplete => "off", placeholder: "(leave blank if you don't want to change it)"  %></div><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.label :current_password %> <i></i>
  <%= f.password_field :current_password, placeholder: "(we need your current password to confirm your changes)"%></div><br />

  <div><%= f.submit "Update", class: "btn" %></div><br />
<% end %>
<div class="form-actions">
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
</div>


