<h2>Sign up</h2>
	
<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.inputs do %>
  	<%= f.input :firstname, hint: "Who are you O.o ?" %>
  	<%= f.input :lastname %>
  	<%= f.input :email, as: :email %>
  	<%= f.input :username %>
  	<%= f.input :password, as: :password %>
  	<%= f.input :password_confirmation, as: :password %>
  <% end %>
  <%= f.buttons %>
<% end %>

<%= render "devise/shared/links" %>

