<h2>Sign up</h2>
	
<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.inputs do %>
  	<%= f.input :firstname, hint: "Who are you O.o ?" %>
  	<%= f.input :lastname %>
  	<%= f.input :email, as: :email %>
  	<%= f.input :username %>
  	<%= f.input :password, as: :password %>
  	<%= f.input :password_confirmation, as: :password %>
  <% end %>
  <div class="form-actions">
  <%= f.actions do %>
    <%= f.action :submit, label: "Sign Up", button_html: { class: "btn btn-primary" }, :wrapper_html => { :style => "display: inline; list-style-type:none;" } %>
    <%= f.action :cancel, label: "cancel", button_html: { class: "btn" }, :wrapper_html => { :style => "display: inline; list-style-type:none;" } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

