<% unless user_signed_in? %>  
   <div class="hero-unit">
   <h1>Welcome to RBox</h1>  
   <p>The file sharing solution that is too good to ignore.</p>  
     </div>
<% else %>  
  <div class="page-header">
  <% if params[:folder_id] %>
    <%= content_tag(:h1, current_user.folders.find(params[:folder_id]).name)%>
  <% else %>
    <h1>My Files</h1>
  <% end %>
</div>
  <div class="breadcrumb">          
    <% if @current_folder %>  
        <%= link_to current_user.username, root_url %>  
        <% @current_folder.ancestors.reverse.each do |folder| %>  
            <span class="divider">/</span><%= link_to folder.name, browse_path(folder) %>  
        <% end %>  
         <span class="divider">/</span><%= @current_folder.name %>  
    <% else %>  
        <%= current_user.username %>
    <% end %>  
</div>  
  <table class="table table-striped">
    <tr>
      <th>File Name</th>
      <th class="optional">Size</th>
      <th class="optional">Modified</th>
      <th class="optional">Uploaded By</th>
      <th>Delete</th>
    </tr>
    <% @folders.each do |folder| %>
    <tr>
      <td colspan="4"><%= link_to folder.name, browse_path(folder) %></td>
      <td><%= link_to "Share" %> 
          <%= link_to "Rename", rename_folder_path(folder) %>
          <%= link_to "Delete", folder, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %>
    <% for asset in @assets %>
      <tr>
        <td><%= link_to asset.file_name, download_url(asset) %></td>
        <td class="optional"><%= number_to_human_size(asset.file_size, :precision => 2)%></td>
        <td class="optional"><%= asset.uploaded_file_updated_at %></td>
        <td class="optional"><%= User.find(asset.user_id).username %></td>
        <!-- <td><%= link_to "Show", asset %></td> -->
        <!-- <td><%= link_to "Edit", edit_asset_path(asset) %></td> -->
        <td>
            <%= link_to "Download", download_url(asset) %> 
            <%= link_to "Delete", asset, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="form-actions">

  <% if @current_folder %>  
      <a><%= link_to "New Folder", new_sub_folder_path(@current_folder), class: "btn" %></a> 
      <a><%= link_to "Upload", new_sub_file_path(@current_folder), class: "btn btn-primary" %></a>  
  <% else %>
      <a><%= link_to "Upload", new_asset_path, class: "btn btn-primary" %></a>  
      <a><%= link_to "New Folder", new_folder_path, class: "btn" %></a>  
  <% end %>  
</div>
<% end %>  