<% unless user_signed_in? %>  
   <h1>Welcome to RBox</h1>  
   <p>The file sharing solution that is too good to ignore.</p>  
     
<% else %>  

  
  <table class="table table-striped">
    <tr>
      <th>File Name</th>
      <th>Size</th>
      <th>Modified</th>
      <th>Uploaded By</th>
      <th colspan="3">Actions</th>
    </tr>
    <% @folders.each do |folder| %>
    <tr>
      <td><%= link_to folder.name, folder_path(folder) %></td>
    </tr>
    <% end %>
    <% for asset in @assets %>
      <tr>
        <td><%= link_to asset.file_name, download_url(asset) %></td>
        <td><%= number_to_human_size(asset.file_size, :precision => 2)%></td>
        <td><%= asset.uploaded_file_updated_at %></td>
        <td><%= User.find(asset.user_id).username %></td>
        <td><%= link_to "Show", asset %></td>
        <td><%= link_to "Edit", edit_asset_path(asset) %></td>
        <td><%= link_to "Destroy", asset, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <a href="/assets/new" class="btn">Upload</a>
  <a href="/folders/new" class="btn">New Folder</a>
  <!--  <div class="asset_list_header">  
       <div class="file_name_header">File Name</div>  
       <div class="file_size_header">Size</div>  
       <div class="file_last_updated_header">Modified</div>  
   </div>  
   <div class="asset_list">  
       <% @assets.each do |asset| %>  
           <div class="asset_details">  
               <div class="file_name"><%= link_to asset.file_name, download_url(asset) %></div>  
               <div class="file_size"><%= number_to_human_size(asset.file_size, :precision => 2)   %></div>  
               <div class="file_last_updated"><%= asset.uploaded_file_updated_at %></div>  
           </div>  
       <% end %>  
   </div>  
   <div class="form-horizontal form-actions">
   	   <%= link_to "Upload", new_asset_path, class: "btn" %>
   </div> -->
<% end %>  