<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>RBox | <%= content_for?(:title) ? yield(:title) : "A ruby file sharing solution" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">


        <a class="btn btn-navbar"
             data-toggle="collapse"
             data-target=".nav-collapse"></a> <a class="brand"
             href="/page/home"><img src="/images/snlogo.PNG"
             width="111"
             height="30"
             alt="supernotes logo" /></a>

        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/page/home">Home</a></li>

            <li><a href="/page/about">About</a></li>

            <li><a href="/notes">Notes</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
