<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>RBox | <%= content_for?(:title) ? yield(:title) : "A ruby file sharing solution" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js', "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <script>(function(d, s, id) {  
      var js, fjs = d.getElementsByTagName(s)[0];  
      if (d.getElementById(id)) return;  
      js = d.createElement(s); js.id = id;  
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";  
      fjs.parentNode.insertBefore(js, fjs);  
    }(document, 'script', 'facebook-jssdk'));</script>  
    
    <script type="text/javascript">  
      (function() {  
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;  
        po.src = 'https://apis.google.com/js/plusone.js';  
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);  
      })();  
    </script> 

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">


        <a class="btn btn-navbar"
             data-toggle="collapse"
             data-target=".nav-collapse"></a> <a class="brand h1"
             href="/page/home">Rbox</a>

        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/page/home">Home</a></li>

            <li><a href="/page/about">About</a></li>

          </ul>

          <ul class="nav pull-right">  
            <!-- <li class="dropdown">  
              <a href="#"  
                    class="dropdown-toggle"  
                    data-toggle="dropdown">  
                    Social  
                    <b class="caret"></b>  
              </a>  
              <ul class="dropdown-menu">  
               <li class="socials"><!-- Place this tag where you want the +1 button to render  
          <g:plusone annotation="inline" width="150"></g:plusone>  
          </li>  
            <li class="socials"><div class="fb-like" data-send="false" data-width="150" data-show-faces="true"></div></li>  
            <li class="socials"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>  
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>  
              </ul>   -->
            <!-- </li>  -->
            <% if user_signed_in? %><li><a href="/page/home">My Files</a></li><% end%>
            <li class="dropdown">  
              <a href="#"  
                    class="dropdown-toggle"  
                    data-toggle="dropdown">  
                    Account  
                    <b class="caret"></b>  
              </a>  
              <ul class="dropdown-menu">  
                <li class="dropdowntext"><% if user_signed_in? %><p>Signed in as <b><%= current_user.username %></b>.</p></li>
                <li class="dropdowntext"><%= link_to "Edit Account", "/users/edit" %> </li>
                <li class="divider"></li>
                <li  class="dropdowntext"> <p> Not you? </p></li>
                <li class="dropdowntext"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>  
                <% else %>
                <li><%= link_to "Sign in", new_user_session_path, :controller => :devise, :action => :create, :class => ''%><a href="/users/register">Sign Up</a></li>
                <% end %>
                 
            
              </ul>  
            </li> 
            
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="container" id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>  
      <%= yield %>
    </div>
  </body>
</html>
